<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>My name is James Francis. I am a CS student at BYU-I. Web dev and Data Science are also passions of mine. I
        love learning new things and playing games with my wife. Recently we have been playing a board game called
        Parks.</p>
    <img src="images/swig.jpeg">
</main>
<%- include('partials/footer') %>